{% extends "base.html" %}
{% block content %}
        <div class="container">
            <!-- upper section -->
            <div class="row">
                <div class="col-sm-3">
                    <!-- left -->
                    <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
                    <hr>
                    <ul class="nav nav-stacked">
                        <li><a href="/settings/"><i class="glyphicon glyphicon-wrench"></i> Settings</a></li>
                        <li><a href="/"><i class="glyphicon glyphicon-th"></i> Dashboard</a></li>
                        <li><a href="/add/"><i class="glyphicon glyphicon-list-alt"></i> Add a project</a></li>
                    </ul>
                    <hr>
                </div>
                <!-- /span-3 -->
                <div class="col-sm-9">
                    <!-- column 2 -->	
                    <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>
                    <hr>
                    <div class="row">
                        <!-- center left-->	
                        <div class="col-md-7">
                            {% for job in projects %}
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><a href="/project/{{ job['_id']}}">{{ job['name'] }} - $ {{ job['price'] }}</a></h4>
                                </div>
                                <div class="panel-body">
                                    <small>Current Job Status</small>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ ((job['features_completed'] | length)/ (job['features'] | length))  | int }}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            {{ ((job['features_completed'] | length) / (job['features'] | length)) | int  }}%
                                        </div>
                                    </div>
                                </div>
                             
                                
                                <!--/panel-body-->
                            </div>                                
                            {% endfor %}    
                                <!--/panel-body-->
                            </div>
                            <!--/panel-->                     
                        </div>
                        <!--/col-->
                        <!--center-right-->
                        <!--/col-span-6-->
                    </div>
                    <!--/row-->
                </div>
                <!--/col-span-9-->
            </div>
            <!--/row-->
            <!-- /upper section -->
            <!-- lower section -->
            <!--/row-->
        </div>
{% endblock %}
